<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>Listado de personas</h1>
      <br />
      <div>
        <a th:href="@{/save/0}" class="btn btn-primary">Agregar</a>
      </div>

      <div th:if="${list.isEmpty()}"><h2>No hay Usuarios todavia</h2></div>
      <div th:if="${!list.isEmpty()}">
        <h2>Pesonas</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="persona : ${list}">
              <td th:text="${persona.nombre}"></td>
              <td th:text="${persona.apellido}"></td>
              <td th:text="${persona.Direccion}"></td>
              <td th:text="${persona.telefono}"></td>
              <td>
                <a class="btn btn-danger" th:href="@{/delete/{id}(id=${persona.id})}">Eliminar</a>
              </td>
              <td>
                <a class="btn btn-warning" th:href="@{/save/{id}(id=${persona.id})}">Editar</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <nav aria-label="Pagination">
              <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
                  <a class="page-link" th:href="@{|/?page=${prev}|}">Anterior</a>
                </li>
                <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
                  <a class="page-link" th:href="@{|/?page=${page}|}" th:text="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
                  <a class="page-link" th:href="@{|/?page=${next}|}">Siguiente</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </body>
</html>
